@font-face {
  font-family: "Deathridge Demo";
  src: url("../public/Deathridge Demo.ttf") format("truetype")
}

@font-face {
  font-family: "La Raimunda";
  src: url("../public/La Raimunda.ttf") format("truetype")
}

@font-face {
  font-family: "Tarif Arabic Regular";
  src: url("../public/TarifArabic-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "Tarif Arabic Bold";
  src: url("../public/TarifArabic-Bold.ttf") format("truetype")
}

body {
    background-color: #111111;
}

.headerNav {
    width: 100%;
    height: 70px;
    background-color: #e800a8;
    display: flex;
}

.headerNav a {
    height: 100%;
    padding: 0 20px;
    align-self: center;
    line-height: 70px;
    font-size: 28px;
    color: #111111;
    text-decoration: none;
    font-family: 'Deathridge Demo', 'Segeo UI', 'Roboto', sans-serif;
}

.headerNav .active {
    background-color: #F4E9D8;
}

.headerNav a:hover {
    text-decoration: underline;
}

.headerNav .reseaux {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.headerNav .reseaux a {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}

.headerNav .reseaux img {
    height: 30px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F4E9D8;
    flex-shrink: 0;
}

.footer .reseauxDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer p {
    font-family: 'La Raimunda', 'Segeo UI', 'Roboto', sans-serif;
    font-size: 32px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.footer .reseaux {
    display: flex;
}

.footer .reseaux a {
    margin: 20px;
}

.footer .reseaux img {
    height: 40px;
}

.homeContent {
    display: flex;
    flex-direction: column;
}

.homeContent .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeContent .header img {
    margin: auto;
    filter: invert(97%) sepia(6%) saturate(1167%) hue-rotate(315deg) brightness(102%) contrast(91%);
}

.homeContent p {
    font-size: 18px;
    color: #F4E9D8;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.header p {
    width: 80%;
}

.homeContent .mff, .homeContent .asso, .homeContent .precedentesEditions {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.homeContent .links {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 20px;
}

.homeContent .links a, .homeContent .lienDons a {
    background-color: #F4E9D8;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    color:#111111;
    text-decoration: none;
    margin-left: 20px; 
}

.homeContent .links .twitch {
    background-color: #6441a5;
    color:#F4E9D8;
}

.homeContent .lienDons {
    margin-top: 10px;
}

.homeContent .lienDons a {
    margin-left: 0;
}

.homeContent .dons, .homeContent .precedentesEditions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeContent .dons p {
    width: 80%;
}

.homeContent .precedentesEditionsAnnees {
    display: flex;
}

.homeContent .anneePrecente {
    background-color: #F4E9D8;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeContent .anneePrecente p {
    color: #111111;
}

.homeContent .anneePrecente .montant {
    color: green;
    font-weight: bold;
    font-size: 22px;
}

.homeContent .anneePrecente a {
    color: #111111;
    text-decoration: none;
}

.homeContent .anneePrecente a:hover {
    text-decoration: underline;
}

.homeContent .cagnotteDiv {
    
    background-color: #F4E9D8;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.homeContent .cagnotteDiv p {
    font-weight: bold;
    font-size: 28px;
    margin: 5px;
}

.homeContent .cagnotteDiv .cagnotte {
    color: #111111;
}

.homeContent .cagnotteDiv .montant {
    color: green;
}

.homeContent .links a:hover, .homeContent .lienDons a:hover {
    text-decoration: underline;
}


.streamersList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.streamersList .streamer {
    width: 280px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4E9D8;
    margin: 10px 5px 10px 5px;
    transition:0.3s;

    position: relative;
}

.streamersList .streamer:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.streamersList .streamer .avatar {
    height: 100px;
    width: 100px;
    clip-path: circle();
}

.streamersList .streamer p {
    margin: 10px;
    
    font-family: Tahoma, Arial, sans-serif;
    font-size: 18px;
}

.streamersList .pageStreamersLive {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
}

.overlayPopupStreamer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 250ms;
}

.overlayPopupStreamer--visible {
    opacity: 1;
    pointer-events: initial;
}

.overlayPopupStreamer--invisible {
    opacity: 0;
    pointer-events: none;
}

.popupStreamer {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.popupStreamer h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  margin-top: 20px;
  font-size: 32px;
  margin-bottom: 0px;
}

.popupStreamer h3 {
    font-family: 'La Raimunda', 'Segeo UI', 'Roboto', sans-serif;
}

.popupStreamer p {
  color: gray;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12px;
  font-style: italic;
}

.popupStreamer a {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #333;
}

.popupStreamer .popupClose {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popupStreamer .popupClose:hover {
    cursor: pointer;
    color: lightcoral;
}

.popupStreamer .popupAvatar {
    height: 200px;
    width: 200px;
    clip-path: circle();
}
.popupStreamer .content {
  max-height: 30%;
  overflow: auto;
}

.popupStreamer .popupStreamerReseaux {
    display: flex;
    width: 80%;
    justify-content: center;
}

.popupStreamer .streamerLink {
    padding: 5px;
    min-width: 40px;
    height: 40px;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 18px;
    margin: 10px;
}

.popupStreamer .logoRS {
    width: 40px;
    height: 40px;
}

.popupStreamer .donationsGoals {
    width: 100%;
}

.popupStreamer .donationsGoals p {
    color: #111111;
    font-style: normal;
    font-size: 14px;
}

.popupStreamer .donationsGoals .currentGoal
{
    font-weight: bold;
    text-align: center;
}

.popupStreamer .donationsGoals .currentGoalName {
    margin-bottom: 5px;
    text-align: center;
}

.popupStreamer .donationsGoals .currentGoalBar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupStreamer .currentGoalBar .currentGoalProgress {
    height: 20px;
    border-radius: 10px;
    background: #111111;
}

.popupStreamer .sesDonationsGoals {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.popupStreamer .sesDonationsGoals p {
    font-size: 18px;
}

.popupStreamer .sesDonationsGoals button {
    height: 30px;
    width: 30px;
}

.currentGoalProgressFill {
    border-radius: 10px;
}

.popupStreamer .currentGoalBar .currentGoalPrice {
    margin-left: 10px;
}

.popupStreamer .listGoals {
    max-height: 180px;
    overflow: scroll;
    margin: 0;
}

.popupStreamer .listGoals li {
    list-style: none;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.popupStreamer .listGoals li p {
    font-size: 16px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.popupStreamer .listGoals li .amount {
    width: 60px;
    text-align: right;
}

.popupStreamer .listGoals li .validate {
    color: green;
}

.stats {
    display: flex;
    justify-content: center;
}

.stats p {
    color: #111111;
}

.stats .statBlock {
    background-color: #F4E9D8;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    border-radius: 5px;
}

.stats .statBlock p {
    margin: 0;
}

.stats .statBlock .titreStatBlock {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}

.stats .statBlock .valueStatBlock {
    font-size: 20px;
    margin-top: 10px;
}

.lastDonations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lastDonations p {
    color: #F4E9D8;
}

.lastDonations .donation {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    max-width: 900px;
    background-color: #F4E9D8;
    margin-top: 10px;
    border-radius: 5px;
}

.lastDonations .donation p {
    color: #111111;
}

.lastDonations .donation #name {
    font-weight: bold;
    margin-left: 10px;
}

.lastDonations .donation #message {
    font-style: italic;
    margin-left: 10px;
}

.lastDonations .donation #amount {
    margin-left: auto;
    margin-right: 10px;
    text-align: right;
}

.chartLine {
    width: 800px;
    height: 400px !important;
    background-color: #F4E9D8;
    border-radius: 20px;
    margin: auto;
}

.selectInterval {
    display: flex;
    margin: auto;
    margin-top: 10px;
}

.direct {
    display: flex;
    flex-direction: column;
}

.direct p {
    color: #F4E9D8;
    text-align: center;
    font-family: 'Deathridge Demo', 'Segeo UI', 'Roboto', sans-serif;
    font-size: 32px;
}

.direct .directHeader {
    font-size: 48px;
    margin: 30px;
}

.direct h5, .direct h5 a {
    margin: 0;
    color: #F4E9D8;
    text-decoration: none;
    font-family: 'Deathridge Demo', 'Segeo UI', 'Roboto', sans-serif;
    font-size: 22px;
}
.direct h5 a:hover {
    text-decoration: underline;
}

.direct .chainesLive p {
    font-family: 'Deathridge Demo', 'Segeo UI', 'Roboto', sans-serif;
    font-size: 22px;
}

.direct .chainesLive {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.direct .result {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.direct .cellStream {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 198px;
  margin: 20px;
}

.direct .reddot {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: auto;
  z-index: 5;
}

.direct .viewerCount
{
  background-color: #111111;
  margin: 6px;
  padding: 5px 8px;
  left: 4px;
  border-radius: 10px;
  position: absolute;
  font-family: "Deathridge Demo", Arial, Helvetica, sans-serif;
  font-weight: bold;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.direct .viewerCount img
{
  width: 20px;
  height: auto;
  margin-right: 5px;
}

.direct .viewerCount span {
    color: #F4E9D8;
    font-size: 22px;
    margin-bottom: 2px;
}

.img__wrap {
  position: relative;
  height: 198px;
  width: 300px;
}

.img__description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  color: #fff;
  background: rgba(29, 106, 154, 0.32);
  visibility: hidden;
  opacity: 0;
  z-index: 6;
  margin: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendar .dayName {
    font-size: 32px;
    font-family: 'La Raimunda', 'Segeo UI', 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.calendar .eventsDay {
    position: relative;
    background-color: #F4E9D8;
    height: 720px;
}

.calendar p {
    color: #F4E9D8;
}

.event {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.event img {
    position: relative;
    height: 100%;
}

.calendar .events .day {
    height: 780px;
    width: 360px;
    margin-bottom: 20px;
}

.calendar .events .day .eventName {
    margin: 0;
    color:#111111;
    margin-left: 10px;
    font-family: "Deathridge Demo", Arial, Helvetica, sans-serif;
}

.calendar .events .day .hour {
    color:#111111;
    margin: 0;
    margin-right: 10px;
}

@media screen and (max-width: 800px){
    .chartLine {
        width: 100%;
    }
    .stats .statBlock {
        margin: 10px;
    }
}

@media screen and (max-width: 700px){
  .popupStreamer{
    width: 70%;
  }

  .headerNav {
    justify-content: center;
  }

}